---

- name: Ajouter les backports Jessie
  apt_repository: repo='deb http://http.debian.net/debian jessie-backports main' state=present
  sudo: yes

- name: Update apt-cache
  apt: update_cache=yes
  sudo: yes

- name: Installer les paquets de base
  apt: name={{ item }} state=present
  with_items:
    - iptables
    - logwatch
    - ufw
    - bridge-utils
  sudo: yes
