---

- name: Installer le transport HTTPS pour APT
  apt: name=apt-transport-https state=present
  become: true

- name: Installer la clé du repo docker
  apt_key: keyserver=p80.pool.sks-keyservers.net id=58118E89F3A912897C070ADBF76221572C52609D
  become: true

- name: Ajouter le repo Debian pour Docker
  apt_repository: repo='deb https://apt.dockerproject.org/repo debian-jessie main' state=present
  become: true

- name: Installer Docker
  apt: name=docker-engine state={{docker_package_state}}
  become: true

- name: Ajouter le script de contrôle de Docker
  copy: src=consul/check_docker.sh dest=/etc/consul.d/ mode=0700
  become: true

- name: Ajouter la config du service Consul pour Docker
  copy: src=consul/service_docker.json dest=/etc/consul.d/
  become: true
  notify:
    - reload consul config

- name: Créer le répertoire de config systemd pour Docker
  file: name=/etc/systemd/system/docker.service.d state=directory
  become: true

- name: Configurer le deamon Docker
  template: src=docker.service.j2 dest=/etc/systemd/system/docker.service.d/docker.conf
  become: true
  notify:
    - restart systemd
    - restart docker

- name: "Flusher les handlers éventuellement activés, comme le restart de docker"
  meta: flush_handlers

- name: S'assurer que Docker est bien lancé avant de démarrer des containers (comme Docker UI)
  service: name=docker state=started
  become: true

- name: Install Docker Python API
  pip: name=docker-py state=present
  become: true

- name: Docker swarm
  docker:
    name: swarm
    image: swarm
    command: join --addr={{ ansible_eth1.ipv4.address }}:{{ docker_port }} consul://{{ ansible_eth1.ipv4.address }}:{{ consul_http_port }}
    # In Ansible 2.0
    # log_driver: syslog
    state: started
  become: true

- name: Docker swarm master
  docker:
    name: swarm-master
    image: swarm
    command: manage --addr={{ ansible_eth1.ipv4.address }}:{{ docker_port }} consul://{{ ansible_eth1.ipv4.address }}:{{ consul_http_port }}
    ports:
      - "2333:2375"
    # In Ansible 2.0
    # log_driver: syslog
    state: started
  become: true
  when: docker_swarm_master == true
