{
  "enable_syslog": true,
  "data_dir": "/var/run/consul",
  "ui_dir": "/usr/share/consul/ui/dist",
  "client_addr": {{ ansible_eth1.ipv4.address | to_nice_json }},
  "advertise_addr": {{ ansible_eth1.ipv4.address | to_nice_json }},
  "ports": {
    "dns": 53
  },
  "dns_config": {
    "allow_stale": true
  }
}
