---

- name: Obtenir les DNS
  get_dns_servers: {}

- name: Installer Consul
  install_consul: state=present
  sudo: yes

- name: Installer le script init.d pour Consul
  copy: src=init.sh dest=/etc/init.d/consul mode=0755
  sudo: yes
  notify:
    - restart consul

- name: Enregister Consul dans les services
  register_service: name=consul state=present
  sudo: yes
  
- name: Créer le répertoire de config pour Consul
  file: name=/etc/consul state=directory
  sudo: yes

- name: Créer le répertoire runtime pour Consul
  file: name=/var/run/consul state=directory
  sudo: yes
  
- name: Configurer le daemon Consul
  copy: src=daemon.conf dest=/etc/default/consul
  sudo: yes
  notify:
    - restart consul

- name: Installer la config de Consul
  template: src=base_config.json.j2 dest=/etc/consul/000_base_config.json
  sudo: yes
  notify:
    - restart consul
  
- name: Configurer les recusors Consul
  template: src=recursors.json.j2 dest=/etc/consul/recursors.json
  sudo: yes
  notify:
    - restart consul

- name: Supprimer le fichier /etc/profile.d/recursors.json mal placé
  file: name=/etc/profile.d/recursors.json state=absent
  sudo: yes
  tags:
    - cleanup
    - fix

- name: Installer la config pour le client Consul
  template: src=profile.sh.j2 dest=/etc/profile.d/consul-client.sh
  sudo: yes
