---

- name: Obtenir les DNS
  get_dns_servers: {}

- name: Installer Consul
  install_consul: state=present
  become: true

- name: Créer les répertoires pour Consul
  file: name={{ item }} state=directory
  with_items:
    - /etc/consul.d
    - /var/run/consul
  become: true

- name: Configurer les services pour Consul
  template: src=consul.service.j2 dest=/lib/systemd/system/consul.service
  become: true
  notify:
    - restart systemd
    - restart consul

- name: Enregister Consul dans les services
  register_service: name=consul state=present
  become: true
  notify:
    - restart systemd
    - restart consul

- name: "Flusher les handlers éventuellement activés, comme le restart de docker"
  meta: flush_handlers

- name: Installer la config de Consul
  template: src=base_config.json.j2 dest=/etc/consul.d/000_base_config.json
  become: true
  notify:
    - restart consul

- name: Configurer les recusors Consul
  template: src=recursors.json.j2 dest=/etc/consul.d/recursors.json
  become: true
  notify:
    - restart consul

- name: Configuring global env vars
  global_env_var: name={{ item.name }} value={{ item.value }} state=present
  with_items:
      - name: CONSUL_RPC_ADDR
        value: "{{ consul_rpc_addr }}:{{ consul_rpc_port }}"
      - name: CONSUL_HTTP_ADDR
        value: "{{ consul_http_addr }}:{{ consul_http_port }}"
  become: true

- name: "S'assurer que Consul est lancé"
  service: name=consul state=started
  become: true
